<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239430092724-hpbbghs7u9o744pfkp66dq1hqoch2878.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239430092724-hpbbghs7u9o744pfkp66dq1hqoch2878</string>
	<key>API_KEY</key>
	<string>AIzaSyACF6Qd8vAuvjgjpnblR2MuKUQGjBwRZpI</string>
	<key>GCM_SENDER_ID</key>
	<string>239430092724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>islam.AuthPro</string>
	<key>PROJECT_ID</key>
	<string>authtest-1585733447629</string>
	<key>STORAGE_BUCKET</key>
	<string>authtest-1585733447629.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239430092724:ios:7e370bd64c34fe500854e1</string>
	<key>DATABASE_URL</key>
	<string>https://authtest-1585733447629.firebaseio.com</string>
</dict>
</plist>